  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="#">Ram's Todos</a>
      <a class="navbar-right navbar-img" href="#"><%= image_tag 'react.png' %></a>
    </div>
  </div>
